<div class="content-body">
  <h2>SECTION LIST</h2>
  <div style="margin-bottom: 10px;">
    <a href="/section/new" class="submit-button">Create Section</a>
  </div>
  
  <table id="sectionTable">
    <thead>
      <tr>
        <th data-sort="gradeLevel">Grade Level</th>
        <th data-sort="name">Name</th>
        <th data-sort="advisor">Advisor</th>
        <th>Action</td>
        </tr>
    </thead>
    <tbody>
      <tr><td colspan="4"><i>Loading...</i></td></tr>
    </tbody>
  </table>
  <div style="display: flex; justify-content: end;">
    <button id="prevButton">Previous</button> 
    <button id="nextButton">Next</button> 
  </div>
</div>

<script src="/js/sections_list.js"></script>