<div class="content-body">
  <h2>STUDENTS LIST</h2>
  <div style="margin-bottom: 10px; display: flex; gap: 5px;">
    <a href="/student/new" class="submit-button">Enroll</a>
    <div class="form-group">
      <label for="search-student">Search</label>
      <input type="search" style="border: 1px solid black;" name="search-student" id="search-student"/>
      <select name="filterBy" id="filterBy">
        <option value="studentNo">Student no.</option>
        <option value="name">Name</option>
        <option value="email">Email</option>
      </select>
      <button id="filterButton">Filter</button>
    </div>
  </div>
  <table id="studentTable">
    <thead>
      <tr>
        <th data-sort="gradeLevel">Grade</th>
        <th data-sort="studentNo">Student No.</th>
        <th data-sort="name">Name</th>
        <th data-sort="email">Email</th>
        <th data-sort="gender">Gender</th>
        <th data-sort="status">Status</th>
        <th>Action</td>
        </tr>
    </thead>
    <tbody>
      <tr><td colspan="7"><i>Loading...</i></td></tr>
    </tbody>
  </table>
  <div style="display: flex; justify-content: end;">
    <button id="prevButton">Previous</button> 
    <button id="nextButton">Next</button> 
  </div>
</div>  

<script src="/js/student_list.js"></script>