<div class="form-group">
  <label for="name">Section Name</label>
  <input type="text" name="name" required />
</div>

<div class="form-group">
  <label for="gradeLevel">Grade Level</label>
  <select name="gradeLevel" required>
    <option value="7">Grade 7</option>
    <option value="8">Grade 8</option>
    <option value="9">Grade 9</option>
    <option value="10">Grade 10</option>
  </select>
</div>

<div class="form-group">
  <label for="advisor">Advisory</label>
  <input type="email" id="emailInput" name="advisor" required />
</div>
<span id="emailStatus"></span>

<div class="form-group">
  <label for="max">Max Students</label>
  <input type="number" name="max" required />
</div>
