.login-container {
  background-image: url("/assets/logo-min.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #73a580;
}

.glassy {
  background-color: rgba(138, 198, 122, 0.462);
  backdrop-filter: blur(2px);
  border-radius: 1rem;
  padding: 1.25rem;
  margin: 1.25rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.glassy h2 {
  margin-bottom: 2rem;
  color: var(--color-10);
}

.login-button {
  background-color: var(--color-30);
  border: 2px solid var(--color-10);
  padding: 1rem 2rem;
  font-size: 1rem;
  margin-top: 1rem;
  color: var(--color-10);
}
