/* .bg-image {
  background-image: url('/assets/logo-min.png');
  width: 100vw;
  height: 100vh;
} */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,500;1,700&display=swap");

:root {
  --color-60: #73a580;
  --color-30: #e0e0e0;
  --color-10: #202020;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

button {
  border: none;
  border-radius: 0.25rem;
  padding: 0.25rem 1rem;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.body {
  background-color: #c4e5cd16;
}

.body,
.content-body {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.content-body {
  padding: 1rem 5rem;
  align-items: stretch;
  gap: 0.25rem;
}

@media (max-width: 768px) {
  .content-body {
    padding: 1rem 5rem;
  }
}

@media (max-width: 576px) {
  .content-body {
    padding: 1rem 2rem; 
  }
}

.footer {
  background-color: var(--color-10);
  color: var(--color-60);
  padding: .25rem;
}

.footer a {
  color: var(--color-30);
}

.footer a:hover {
  color: var(--color-60);
}

.error-message {
  color: red;
  font-size: 12px;
}

.submit-button,
.edit-button,
.delete-button {
  padding: 0.25rem 2rem;
  color: var(--color-60);
  background-color: var(--color-30);
  border-radius: 2rem;
  font-size: 12px;
  border: 1px solid black;
}

.delete-button {
  background-color: red;
  color: white;
}

.edit-button,
.submit-button {
  background-color: var(--color-60);
  color: white;
}

.submit-button:disabled {
  filter: contrast(0.5);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.container {
  display: flex;
  justify-content: center;
  background-color: var(--color-60);
  padding: 1rem;
  border-radius: 1rem;
}

.post-creation {
  gap: 10px;
}

.button {
  cursor: pointer;
  text-align: left;
}