<div class="form-group">
  <label for="name">Name</label>
  <input type="text" name="name" value="<%= user.name %>" required />
</div>

<div class="form-group">
  <label for="email">Email</label>
  <input
    type="email"
    name="email"
    id="emailInput"
    value="<%= user.email %>"
    required
  />
</div>
<span id="emailStatus"></span>

<div class="form-group">
  <label for="role">Select Role</label>
  <select name="role" required>
    <option value="ADMIN">Admin</option>
    <option value="TEACHER">Teacher</option>
    <option value="STUDENT">Student</option>
  </select>
</div>
