<div class="content-body">
  <h2>USERS LIST</h2>
  <div style="margin-bottom: 10px;">
    <a href="/user/new" class="submit-button">Add User</a>
  </div>
  
  <table id="userTable">
    <thead>
      <tr>
        <th data-sort="name">Name</th>
        <th data-sort="email">Email</th>
        <th data-sort="role">Role</th>
        <th>Action</td>
        </tr>
    </thead>
    <tbody>
      <tr><td colspan="4"><i>Loading...</i></td></tr>
    </tbody>
  </table>
  <div style="display: flex; justify-content: end;">
    <button id="prevButton">Previous</button> 
    <button id="nextButton">Next</button> 
  </div>
</div>

<script src="/js/users_list.js"></script>