<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="BBBMYrYHLFT_NfpIoRoKab-X0r_NxibsSTnklxGqyjk" />
    <title>Panitik | LMS</title>
    <link rel="icon" href="/assets/logo-min.png" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/table.css" />
    <link rel="stylesheet" href="/css/form.css" />
    <link rel="stylesheet" href="/css/post.css" />
  </head>

  <body>
    <div class="body">
      <% if (typeof account !== 'undefined') { %>
        <%- include('../partials/navbar') %>
      <% } %>
      <% if (typeof errorMessage !== 'undefined') { %>
      <%- include('../partials/errorMessage') %>
      <% } %>

      <%- body %>
    </div>
    <div class="footer">
      <p>©panitik.onrender.com <a href="https://www.app-privacy-policy.com/live.php?token=0qBdzGrXTbWmTAaAW8oxV3nzGRJD0Xak">Privacy Policy</a></p>
    </div>
  </body>
</html>
