<div class="content-body">
  <h2>STUDENTS LIST</h2>
  <div style="margin-bottom: 10px;">
    <a href="/subject/new" class="submit-button">Register Subject</a>
  </div>
  <table id="subjectTable">
    <thead>
      <tr>
        <th data-sort="gradeLevel">Grade</th>
        <th data-sort="section">Section</th>
        <th data-sort="name">Subject Name</th>
        <th data-sort="teacher">Teacher</th>
        <th>Subject Code</th>
        <th>Action</td>
        </tr>
    </thead>
    <tbody>
      <tr><td colspan="6"><i>Loading...</i></td></tr>
    </tbody>
  </table>
  <div style="display: flex; justify-content: end;">
    <button id="prevButton">Previous</button> 
    <button id="nextButton">Next</button> 
  </div>
</div>  

<script src="/js/subject_list.js"></script>